<div id="highlights" class="carousel slide" data-ride="carousel">
    <ul class="carousel-indicators">
        <li data-target="#highlights" data-slide-to="0" class="active"></li>
        <li data-target="#highlights" data-slide-to="1"></li>
        <li data-target="#highlights" data-slide-to="2"></li>
    </ul>

    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="~/images/highlights/delivery.jpg" alt="delivery" class="img-fluid">
        </div>
        <div class="carousel-item">
            <img src="~/images/highlights/weeklydeals.jpg" alt="weeklydeals" class="img-fluid">
        </div>
        <div class="carousel-item">
            <img src="~/images/highlights/customerservice.jpg" alt="customerservice" class="img-fluid">
        </div>
    </div>

    <a class="carousel-control-prev" href="#highlights" data-slide="prev">
        <span class="carousel-control-prev-icon"></span>
    </a>
    <a class="carousel-control-next" href="#highlights" data-slide="next">
        <span class="carousel-control-next-icon"></span>
    </a>
</div>
